<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="Server=SQL;Database=FileHistorian;Trusted_Connection=True;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="fileAsync" xsi:type="AsyncWrapper">
        <target name="file" xsi:type="File" layout="[${threadid}] ${longdate} [${pad:padding=5:inner=${level:uppercase=true}}] [${logger}]: ${message} ${exception:format=tostring}" fileName="${basedir}/Logs/${longdate:cached=true}.log" archiveFileName="${basedir}/Logs/Archive{#####}.log" archiveAboveSize="10000000" archiveNumbering="Rolling" archiveEvery="Hour" maxArchiveFiles="5" concurrentWrites="true" keepFileOpen="false" encoding="Unicode" />
      </target>
      <target name="console" xsi:type="ColoredConsole" layout="[${threadid}] ${date:format=HH\:mm\:ss.fff} [${pad:padding=5:inner=${level:uppercase=true}}] [${logger:shortName=true}]: ${message} ${exception:format=tostring}" encoding="Unicode" />
      <target name="debugger" xsi:type="Debugger" layout="[${logger}]: ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="debugger" />
    </rules>
  </nlog>
</configuration>